{% extends 'base.html' %}

{% load static %}

{% block title %}Post: {{ post.title }}{% endblock %}

{% block content %}
    <div id="main-content" class="single-page-content">
        <div id="primary" class="content-area d-flex">
            <div id="content" class="page-content site-content col-sm-12 col-md-8 col-lg-9" role="main">
                <article class="post">
                    <header class="entry-header">
                        <div class="entry-meta entry-meta-top">
                            <span><a href="{{ post.category.get_absolute_url }}" rel="category tag">{{ post.category.name }}</a></span>      
                        </div><!-- .entry-meta -->

                        <h2 class="entry-title">{{ post.title }}</h2>
                    </header><!-- .entry-header -->

                    <div class="post-thumbnail entry-meta entry-meta-bottom">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" alt=""  />
                        {% endif %}
                    </div>

                    <div class="post-content">
                        <div class="entry-content">
                            <div class="row">
                                <div class=" col-xs-12 col-sm-12 ">
                                    <p>{{ post.body }}</p>
                                </div>
                            </div>
                        </div><!-- .entry-content -->

                        <div class="entry-meta entry-meta-bottom">
                            <div class="date-author">
                                
                                <span class="entry-date">
                                <a href="#" rel="bookmark">
                                    <i class="far fa-clock"></i>
                                    <time class="entry-date" datetime="2020-04-04T08:29:37+00:00"> {{ post.publish|date:"F j, Y"}}</time>
                                </a>
                                </span>

                                <span class="author vcard">
                                <a class="url fn n" href="#" rel="author">
                                    <i class="fas fa-user"></i>
                                    <span> {{ post.author.username }}</span>
                                </a>
                                </span>
                            </div>

                            <!-- Share Buttons -->
                            <div class="entry-share btn-group share-buttons">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=http://example.com/" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" class="btn" target="_blank" title="Share on Facebook">
                                <i class="fab fa-facebook-f"></i>
                                </a>

                                <a href="https://twitter.com/share?url=http://example.com/" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" class="btn" target="_blank" title="Share on Twitter">
                                <i class="fab fa-twitter"></i>
                                </a>
                                
                                <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://example.com/" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="btn" title="Share on LinkedIn">
                                <i class="fab fa-linkedin-in"></i>
                                </a>
                                
                                <a href="http://www.digg.com/submit?url=http://example.com/" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="btn" title="Share on Digg">
                                <i class="fab fa-digg"></i>
                                </a>

                                <a href="http://www.digg.com/submit?url=http://example.com/" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="btn" title="Share on Digg">
                                    <i class="fab fa-instagram"></i>
                                </a>

                                <a href="http://www.digg.com/submit?url=http://example.com/" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" class="btn" title="Share on Digg">
                                    <i class="fab fa-telegram"></i>
                                </a>
                            </div>
                            <!-- /Share Buttons -->
                        </div>

                        <div class="post-tags">
                            <span class="tags">
                                <a href="#" rel="tag">design</a>
                                <a href="#" rel="tag">plugin</a>
                                <a href="#" rel="tag">WordPress</a>
                            </span>
                        </div>
                    </div>
                    <div id="comments" class="comments">
                        <h3 class="title-comment title-bl">02 Comments</h3>

                        <ol class="comment-list">
                            <li class="comment-01 flex">
                                <div class="comment-avatar">
                                    <img src="assets/images/blog/avatar-1.jpg" alt="images">
                                </div>
                                <div class="comment-content">
                                    <div class="comment-meta">                                                  
                                        <div class="comment-author mb-18">
                                            <h4> Wilfrid Hancock </h4>
                                            <h5 class="font fw-4">August 13, 2022</h5> 
                                        </div>                                                                                                                                                 
                                    </div>
                                    <div class="comment-text">
                                        <p>Metus vestibulum condimentum condimentum interdum suspendisse nostra id viverra aliquam curae dictum habitant cum venenatis
                                                a sem parturient eu ipsum suspendisse morbi suspendisse imperdiet curae commodo class.</p>
                                    </div> 
                                    <a href="#" class="reply">Reply</a>                                
                                </div>
                            </li>                                      
                            
                            <li class="comment-01 style flex">
                                <div class="comment-avatar">
                                    <img src="assets/images/blog/avatar-2.jpg" alt="images">
                                </div>
                                <div class="comment-content ">
                                    <div class="comment-meta">                                                  
                                        <div class="comment-author mb-18">
                                            <h4>  Wade Gill </h4>
                                            <h5 class="font fw-4">August 13, 2022</h5> 
                                        </div>                                                                                                                                                 
                                    </div>
                                    <div class="comment-text">
                                        <p>Vestibulum condimentum condimentum interdum suspendisse nostra id viverra aliquam curae dictum habitant.</p>
                                    </div> 
                                    <a href="#" class="reply">Reply</a>                                     
                                </div>
                            </li>
                            <li class="comment-01 flex">
                                <div class="comment-avatar">
                                    <img src="assets/images/blog/avatar-3.jpg" alt="images">
                                </div>
                                <div class="comment-content style-3">
                                    <div class="comment-meta">                                                  
                                        <div class="comment-author mb-18">
                                            <h4> Ernest Wheeler </h4>
                                            <h5 class="font fw-4">August 13, 2022</h5> 
                                        </div>                                                                                                                                                 
                                    </div>
                                    <div class="comment-text">
                                        <p>Metus vestibulum condimentum condimentum interdum suspendisse nostra id viverra aliquam curae dictum habitant cum venenatis 
                                            a sem parturient eu ipsum suspendisse morbi suspendisse imperdiet curae commodo class.</p>
                                    </div> 
                                    <a href="#" class="reply">Reply</a>                                     
                                </div>
                            </li>
                            
                        </ol>
                        <div id="respond" class="respond-comment">
                            <h2 class="title-bl">Leave A Comment </h2> 
                            <form method="post" id="contactform" class="comment-form form-submit"
                                action="./contact/contact-process.php" accept-charset="utf-8"
                                novalidate="novalidate">
                                <div class="text-wrap clearfix">
                                    <fieldset class="name-wrap style-text">
                                        <input type="text" id="name" class="tb-my-input" name="name"
                                            tabindex="1" placeholder="Name" value="" size="32"
                                            aria-required="true" required="">
                                    </fieldset>
                                    <fieldset class="email-wrap style-text">
                                        <input type="email" id="email" class="tb-my-input" name="email"
                                            tabindex="2" placeholder="Email*" value="" size="32"
                                            aria-required="true" required="">
                                    </fieldset>
                                </div>
                                <fieldset class="message-wrap">
                                    <textarea id="comment-message" name="message" rows="3" tabindex="5"
                                        placeholder="Comment*"
                                        aria-required="true"></textarea>
                                </fieldset>
                                <button name="submit" type="submit" id="comment-reply"
                                    class="button btn-submit-comment btn-action"><span>Post Comment</span></button>
                            </form>
                        </div>
                    </div>    
                </article>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <aside class="side-bar">
                    <div class="inner-side-bar">                                       
                        <div class="widget search">                                 
                            <form action="#" method="get" role="search" class="search-form">
                                <input type="search" class="search-field btn btn-primary"
                                    placeholder="Write something" value="" name="s"
                                    title="Search for" required="">
                                <button class="search-icon search-submit" type="submit" title="Search">Search</button>
                            </form>
                        </div>
                        <div class="widget widget-categories style"> 
                            <h4 class="widget-title title-list">
                                Categories
                            </h4>                                                                                                                        
                            <ul class='blog-card' style="list-style-type: none; padding-left: 0; !important">
                                <li>
                                    <a href="{% url 'blog:post_list' %}">
                                        {% if current_cat %}
                                            <p>All</p>
                                        {% else %}
                                            All
                                        {% endif %}
                                        
                                    </a>
                                </li>
                                {% for category in categories %}
                                    <li>
                                        <a href="{{ category.get_absolute_url }}">
                                            {% if current_cat == category %}
                                                {{ category.name }} 
                                                <span class="number"> {{ category.posts_count }}</span>
                                            {% else %}
                                                <p>
                                                    {{ category.name }} 
                                                    <span class="number"> {{ category.posts_count }}</span>
                                                </p>
                                            {% endif %}
                                            
                                        </a>
                                        
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% if recently_posts %}
                            <div class="widget widget-posts">
                                <h4 class="widget-title title-blogs">
                                    Recent Posts
                                </h4>   
                                <ul class="recent-news">
                                    {% for post in recently_posts %}
                                        <li class="hover-img">
                                            <div class="thumb img-style">
                                                {% if post.image %}
                                                    <img class="img" src="{{ post.image.url}}" alt="images">
                                                {% endif %}
                                            </div>
                                            <div class="title-post">    
                                                <h6 class="text-u text-color-3 ls-01">{{ post.category.name }}</h6>                             
                                                <h5 ><a href="{{ post.get_absolute_url }}">{{ post.title|truncatewords:10|linebreaks }}</a></h5>
                                            </div>
                                        </li>
                                    {% endfor %}                                      
                                </ul>                                                                                             
                            </div>      
                        {% endif %}                        
                        <div class="widget widget-tags">
                            <h4 class="widget-title title-tags">
                                Popular Tags
                            </h4>     
                            <div class="tags_cloud_inner">
                                <a href="#">Graphic</a>
                                <a href="#">Web</a>
                                <a href="#">Development</a>
                                <a href="#" class="active">Template</a>
                                <a href="#">Media</a>
                                <a href="#">Lorem</a>
                                <a href="#">Magna</a>
                                <a href="#">Commodo</a>
                                <a href="#">Elit</a>
                                <a href="#" class="style-tag">Nostrud</a>                                          
                            </div>                                                                                                       
                        </div>                               
                    </div>
                </aside>
            </div>
        </div>
    </div>
{% endblock %}
         
    <!-- Javascript -->
{% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-validate.js' %}"></script>

    <script src="{% static 'js/plugin.js' %}"></script>
    <script src="{% static 'js/shortcodes.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}
