{% extends 'base.html' %}     
{% load static %}


{% block title %}{% endblock %}

{% block content %}
  <div id="main-content" class="single-page-content">
    <div id="primary" class="content-area">

      <div class="page-title">
        {% if messages %}
            {% for message in messages%}
            <h4>{{ message.tags }}</h4>
            {% endfor %}
        {% endif %}
        <h1>Blog</h1>
        <div class="page-subtitle">
            <h4> My Diary</h4>
        </div>
      </div>

      <div id="content" class="page-content site-content single-post" role="main">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-12">
                <aside class="side-bar">
                    <div class="inner-side-bar">                                       
                        <div class="widget search">                                 
                            <form action="#" method="get" role="search" class="search-form">
                                <input type="search" class="search-field"
                                    placeholder="Search" value="" name="s"
                                    title="Search for" required="">
                                <button class="search-icon search-submit" type="submit" title="Search"></button>
                            </form>
                        </div>
                        <div class="widget widget-categories style"> 
                            <h4 class="widget-title title-list">
                                Categories
                            </h4>                                                                                                                        
                            <ul class='blog-card' style="list-style-type: none; padding-left: 0; !important">
                                <li>
                                    <a href="{% url 'blog:post_list' %}">
                                        {% if current_cat %}
                                            <p>All</p>
                                        {% else %}
                                            All
                                        {% endif %}
                                        
                                    </a>
                                </li>
                                {% for category in categories %}
                                    <li>
                                        <a href="{{ category.get_absolute_url }}">
                                            {% if current_cat == category %}
                                                {{ category.name }} 
                                                <span class="number"> {{ category.posts_count }}</span>
                                            {% else %}
                                                <p>
                                                    {{ category.name }} 
                                                    <span class="number"> {{ category.posts_count }}</span>
                                                </p>
                                            {% endif %}
                                            
                                        </a>
                                        
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% if recently_posts %}
                            <div class="widget widget-posts">
                                <h4 class="widget-title title-blogs">
                                    Recent Posts
                                </h4>   
                                <ul class="recent-news">
                                    {% for post in recently_posts %}
                                        <li class="hover-img">
                                            <div class="thumb img-style">
                                                {% if post.image %}
                                                    <img class="img" src="{{ post.image.url}}" alt="images">
                                                {% endif %}
                                            </div>
                                            <div class="title-post">    
                                                <h6 class="text-u text-color-3 ls-01">{{ post.category.name }}</h6>                             
                                                <h5 ><a href="blog-details.html">{{ post.title|truncatewords:40|linebreaks }}</a></h5>
                                            </div>
                                        </li>
                                    {% endfor %}                                      
                                </ul>                                                                                             
                            </div>      
                        {% endif %}                 
                        <div class="widget widget-tags">
                            <h4 class="widget-title title-tags">
                                Popular Tags
                            </h4>     
                            <div class="tags_cloud_inner">
                                <a href="blog.html">Graphic</a>
                                <a href="blog.html">Web</a>
                                <a href="blog.html">Development</a>
                                <a href="blog.html" class="active">Template</a>
                                <a href="blog.html">Media</a>
                                <a href="blog.html">Lorem</a>
                                <a href="blog.html">Magna</a>
                                <a href="blog.html">Commodo</a>
                                <a href="blog.html">Elit</a>
                                <a href="blog.html" class="style-tag">Nostrud</a>                                          
                            </div>                                                                                                       
                        </div>                               
                    </div>
                </aside>
            </div>
          <div class="col-md-8 col-xs-12 col-sm-12 ">

            <div class="blog-masonry three-columns clearfix">
              <!-- Blog Post 1 -->
                {% for post in posts %}
                    <div class="item">
                        <div class="blog-card">
                        <div class="media-block">
                            <div class="category">
                            </div>
                            {% if post.image %}
                                <a href="{{ post.get_absolute_url }}">
                                    <img src="{{ post.image.url }}" alt="How to Make a WordPress Plugin Extensible" title="" />
                                    <div class="mask"></div>
                                </a>
                            {% endif %}
                        </div>
                        <div class="post-info">
                            <div class="post-date">{{ post.publish|date:"F j, Y"}}</div>
                            <a href="{{ post.category.get_absolute_url }}" title="View all posts in WordPress">{{ post.category.name }}</a>
                            <a href="{{ post.get_absolute_url }}">                            
                                <h4 class="blog-item-title">{{ post.title }}</h4>
                            </a>
                        </div>
                        </div>
                    </div>
                {% endfor %}
              <!-- End of Blog Post 1 -->
            </div>
            
            <a class="btn btn-primary" href="#">See All Posts</a>
          </div>
        </div>

      </div>
    </div>
  </div>
{% endblock content %}
          




  